 <div class="mypage">
  <%= current_user.username %>'s Profile
</div>
<p class="pt-5">
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">Events You Created</p>
      <hr>
      <p class="userpage">
      <div class="centertext">
        <% if user_signed_in? %>
          <% @user.created_events.each do |event| %>
          <hr>
          <%= link_to "#{event.title}", event_path(event) %><br>
          Desc: <%= event.body %><br>
          When: <%= event.date %><br>

          <%= link_to 'Edit', edit_event_path(event)%>
          <%= link_to 'Delete', event_path(event),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="tile is-child box">
      <p class="title">Your Upcoming Events</p>
      <hr>
      <p class="userpage">
      <div class="centertext">
        <% @user.upcoming_events.each do |event| %>
          <%= link_to "#{event.title}", event_path(event) %><br>
          Desc: <%= event.body %><br>
          When: <%= event.date %><br>
        <% end %>
        </div>
    </div>
    <div class="tile is-child box">
      <p class="title">Previously Attended Events</p>
      <hr>
      <p class="userpage">
      <div class="centertext">
        <% @user.previous_events.each do |event| %>
      <hr>
          <%= link_to "#{event.title}", event_path(event) %>
        <% end %>
        </div>
    </div>
  </div>
</div>
</p>
