<section class="section">
  <div class="container">
    <h1 class="title">
      Creator of Event and Attendees:
    </h1>
    <p class="userpage">
    <div id="boxshadow">
    <div class="tile is-child box">
    Event Created By:
    <%= @event.creator.username %><br>
      Desc: <%= @event.body %><br>
      When: <%= @event.date.strftime("%m-%d-%Y %H:%M") %><br>
    <br>
    Event Attendees (<%= @event.attendees.count %>):
    <% if @event.attendees.count > 0 %>
        <%= @event.attendees.map(&:username).join(", ") + "." %>
    <% else %>
      This event does not have anyone attending.
    <% end %>
    </div>
    </div>
    <div style="padding:10px">
      <%= button_to 'Attend', attend_event_path(@event), method: :post, confirm: 'really?' %>
    </div>
    </p>
  </div>
</section>
