<section class="section">
  <div class="container">
    <h1 class="title">
      Creator of Event and Attendees:
    </h1>
    <p class="userpage">
    Event Created By:
    <%= @event.creator.username %><br>
      Desc: <%= @event.body %><br>
      When: <%= @event.date %><br>
    <br>
    Event Attendees:
    <% if @event.attendees.count > 0 %>
      <% @event.attendees.each do |attendee| %>
        <%= attendee.name %>
      <% end %>
    <% else %>
      This event does not have anyone attending.
    <% end %>
    <div class="tile is-child box">
    People attending this event:<br>
    *ruby code here*

</div>
    </p>
  </div>
</section>

 <%= button_to 'Register', events_path(@event),
  method: :post, confirm: 'really?' %>
* Need to add a button to register user.
* Then show that they're attending on refresh.

